 <div class="allsyosainature">
    <div class="kekkasyosai">
    <div class="hidari">
    <div class="syosaikankouchimei">
    No1.四国カルスト
    </div>
    <div class="syosaizyusyo">
    住所：高知県と愛媛県の境
    </div>
    <%= image_tag 'karusuto1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                <div class="hashkouchi">
                ＃高知
                </div>
                <div class="hashshizen">
                ＃自然
                </div>
                <div class="hashnonbiri">
                ＃のんびり
                </div>
                <br>
                ＃まるでアルプス
                ＃思い出の写真
                ＃絶景
                ＃心に残る     
                </div>
                <div class=koutuu>
                        交通手段
                </div>
            </div>
            <div class="syosaikokonoko">
            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
            <div class="syosaiheartbun">
            大自然を全身で感じる
            <br>忘れられない経験
            </div>
            </div>
        </div>
        <div class="migishita">
        <div class="syosaipointhidari">
            <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            圧倒的爽快感
            </div>
            </div>
            <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            まるでアルプスの丘...！
            </div>
            </div>
        </div>
        <div class='syosaipointmigi'>
            <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            日ごろの悩みも忘れてリラックス
            </div>
            </div>
            <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            ソフトクリーム、カフェラテもいただけます
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="kekkasyosai">
    <div class="hidari">
    <div class="syosaikankouchimei">
    No3.祖谷のかずら橋
    </div>

    <div class="syosaizyusyo">
    住所：徳島県三好市
    </div>
    <%= image_tag 'kazura1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                    <div class="hashtokushima">
                    ＃徳島
                    </div>
                    <div class="hashactive">
                    ＃アクティブ
                    </div>
                    <div class="hashshizen">
                    ＃自然
                    </div>
                    <br>
                    ＃山
                    ＃スリル
                    ＃きれいな空気
                    ＃絶景
                </div>
                <div class=koutuu>
                交通手段
                </div>
            </div>
        <div class="syosaikokonoko">
            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
            <div class="syosaiheartbun">
            自然のなかの綱渡り経験
            </div>
        </div>
        </div>
        <div class="migishita">
        <div class="syosaipointhidari">
            <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            怖すぎる、けど渡がいあり
            </div>
            </div>
            <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            緑の自然に囲まれて
            </div>
            </div>
        </div>
        <div class='syosaipointmigi'>
            <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            時間がゆったり流れる地域です
            </div>
            </div>
            <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            隠れ家飲食店も
                </div>
            </div>
        </div>
        </div>
    </div>
    </div> 
</div>