<div class="p">
        <div class="p2">
            <a href="kazura" class="btn btn--yellow btn--cubic">スリルを味わいたい</a>
        </div>
        <br>
        <br>
        <div class="p2">
            <a href="takaya" class="btn btn--yellow btn--cubic">達成感を味わいたい</a>
        </div>
    
</div>




