<div class="p">
        <div class="p2">
            <a href="hinitizyo" class="btn btn--yellow btn--cubic">非日常を味わいたい</a>
        </div>
        <br>
        <br>
        <div class="p2">
            <a href="kansyo" class="btn btn--yellow btn--cubic"> 鑑賞したい</a>
        </div>
    
</div>