<div class="p">
        <div class="p2">
            <a href="ryugado" class="btn btn--yellow btn--cubic">神秘的な場所に行きたい</a>
        </div>
        <br>
        <br>
        <div class="p2">
            <a href="dougo" class="btn btn--yellow btn--cubic">疲れを癒したい</a>
        </div>
    
</div>

