<div class="p">
        <div class="p2">
            <a href="matsuyamazyo" class="btn btn--yellow btn--cubic">日本の歴史に触れたい</a>
        </div>
        <br>
        <br>
        <div class="p2">
            <a href="otsuka" class="btn btn--yellow btn--cubic">異国感を味わいたい</a>
        </div>
    
</div>
