<div class="p">
        <div class="p2">
            <a href="karusuto" class="btn btn--yellow btn--cubic">のんびり過ごしたい</a>
        </div>
        <br>
        <br>
        <div class="p2">
            <a href="chichibu" class="btn btn--yellow btn--cubic">思い出の写真を残したい</a>
        </div>
    
</div>
