<div class="p">
        <div class="p2">
            <a href="aruku" class="btn btn--yellow btn--cubic">歩いて堪能したい</a>
        </div>
        <br>
        <br>
        <div class="p2">
            <a href="zekkei" class="btn btn--yellow btn--cubic">絶景を見たい</a>
        </div>
    
</div>


