<div class="p">
        <div class="p2">
            <a href="active" class="btn btn--yellow btn--cubic">アクティブに動きたい</a>
        </div>
        <br>
        <br>
        <div class="p2">
            <a href="nature" class="btn btn--yellow btn--cubic">自然に触れたい</a>
        </div>
    
</div>



