/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  
  header {
    background-color: #fffafa;
    height: 6.5vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 1000;
    
  }
  header a {
    color: #606060; 
    text-decoration: none; 
  
  }

  header a:hover {
      color:  rgba(242, 212, 248, 0.788);
  }
  
  .logo{
    height: 6.5vw;
    margin-left: 1.5vw;
    padding-bottom: 1vw;
  }

  .header-list {
    display: flex;
    align-items: center;
    font-size: 1.35vw;
  }
  header ul {
    display: flex;
  }


  header li {
    list-style: none;
    margin-right: 40px;
  }
  
main{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
  background-color:#fffafa	;
}