.kokonokokonoko{
	display: flex;
}
.kyoyu{
	width: 20vw;
	margin-left: 40vw;
	z-index: 2;
	position: absolute;
    
}

.kyoyu1{margin-left: 40%;
	margin-top: 6%;
	font-size: 3.5vw;
	z-index: 3;
	position: absolute;
    color: #575757;
}
.syosaimodoru{
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.4vw;
    width: 16%;
    height: 8%;
    margin-left: 80%;
	margin-top: 14%;
    font-weight: bold;
    border-radius: 0.3rem;
    background: #ccffffc3;
    color: #606060;
    transition: all 0.4s;
    border: #606060 solid 1px;
}
.modoru:hover {
    color: rgba(170, 236, 112, 0.788);
}
.syosaidate{
    margin-left: 10vw;
    margin-top: 2vh;
}
.syosaiusername{
    margin-left: 10vw;
    margin-top: 2vh;
}
.syosaicategory{
    color: aqua;
}
.syosaiprefecture{
    color: coral;
    margin-left: 10vw;
}
.syosaikankoucihime{
    font-size: 3.5vw;
    color: #575757;
}
.syosai{margin-left: 43%;
	margin-top: -30vh;
	font-size: 3.5vw;
	z-index: 3;
	position: absolute;
}

.photosyosai{
    width: 30vw;
	height: 30vw;
	object-fit: cover;
	margin-left: 3vw;
	margin-top: 3vw;
    margin-bottom: 4vh;
}

.flower2{
    display: flex;
    border: #606060 solid 2px;
    margin-top: 6%;
    margin-left: 3vw;
    margin-right: 3vw;
}
.syosaiiine{
    border: #606060 solid 2px;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
    width: 50vw;
}

.syosaibun{
    margin-left: 10vw;
}
.syosaiabout{
    border: #606060 solid 1px;
}
.syosaibun1{
    display: flex;
}
.syosaibun2{
    display: flex;
}


.syosaihensyu{display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.4vw;
    width: 16%;
    height: 8%;
    margin-left: 80%;
    margin-top: 2%;
    font-weight: bold;
    border-radius: 0.3rem;
    background: #ccffffc3;
    color: #606060;
    transition: all 0.4s;
    border: #606060 solid 1px;
}
.syosaihensyu:hover {
    color: rgba(170, 236, 112, 0.788);
}



.syosaisinki{display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
    font-size: 1.7vw;
	width: 17%;
	height: 5%;
	margin-left: 0.2vw;
	font-weight: bold;
	border-radius: 0.3rem;
	background: #ccffffc3;
	color: #606060;
	transition: all 0.4s;
    border: #606060 solid 1px;
}
.syosaisinki:hover {
	color: rgba(170, 236, 112, 0.788);
}

.syosailogout{display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
    font-size: 1.7vw;
	width: 17%;
	height: 5%;
	margin-left: 0.2vw;
	font-weight: bold;
	border-radius: 0.3rem;
	background: #ccffffc3;
	color: #606060;
	transition: all 0.4s;
    border: #606060 solid 1px;
    
}
.syosailogout:hover {
	color: rgba(170, 236, 112, 0.788);
}

